*{
    margin:0;
    padding:0;
}
body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    align-self: center;
    border-radius: 25px;
}
.row{

    display: flex;
    flex-direction: row;
    margin-top: 50px;
     
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container>.row{
    width:100%;
    justify-content: space-evenly;

}
 
#pic{
     
    border: 3px solid blueviolet;
    border-radius: 50%;
    
}
.name{
    font-size: x-large;
    font-weight: bolder;
}
.score{
    font-size: xx-large;
    align-content: center;

}
.runs{
    font-size: xx-large;
    width: 200px;
    justify-content: space-evenly;
}
#strikebutton{
    background: blueviolet;
    width: 300px;
    height: 50px;
    font-size: x-large;
    color: cornsilk;
    /*padding: 10px;*/
    margin-top: 50px;
    margin-bottom: -50px;
    border-radius: 20px;
    outline: none;

}